/*HEADER*/
#header-wp {
  border-bottom: 1px solid #bdbdbd;
}
#header-wp-post {
  border-bottom: 1px solid #bdbdbd;
  background-color: rgba(127, 255, 212, 0.5);
}
#header-wp-product {
  border-bottom: 1px solid #bdbdbd;
  background-color: rgba(157, 255, 0, 0.5);
}
#logo {
  display: block;
  font-family: "Roboto Bold";
  text-transform: uppercase;
  font-size: 21px;
  color: #333;
  padding: 20px 10px;
}
#btn-cart {
  position: relative;
}
#btn-cart {
  position: relative;
  display: block;
  padding: 20px 10px;
}
#btn-cart #num {
  position: absolute;
  top: 5px;
  right: 15px;
  color: #b70000;
  font-family: "Roboto Medium";
}
